/* Aseguramos que el html y body no tengan márgenes raros y corten el desborde */
html, body {
  overflow-x: hidden !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Limpiamos el #root de Vite y lo convertimos en nuestro lienzo en blanco */
#root {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}